body {
  margin: 0;
  padding: 0;
}
.container{
	margin: 0;
  padding: 0;
	display: grid;
	grid-template-columns: .5fr 1.5fr .5fr;
}
.left {
	background-color: green;
	width: 100%;
}
.middle {
	background-color: red;
	width: 100%;
}
.right {
	background-color: blue;
	width: 100%;
}