@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.container{
	margin: 0;
  padding: 0;
	display: grid;
	grid-template-columns: .5fr 1.5fr .5fr;
  height: 100vh;
}
.left {
	background-color: #2C3460;
	width: 100%;
}
.middle {
  background-color: #1A1A1A;
	width: 100%;
}
.right {
	background-color: #2C3460;
	width: 100%;
}